<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\BackEnd.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>